.top242 {
    display: flex;
    flex-direction: column;

    .topGallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template:
            'gain gain'
            'lose lose';

    }
}